@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ocultar barra de scroll padrão mantendo a funcionalidade (opcional para design mais limpo) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #4c1d95; /* Roxo escuro do Tailwind (violet-900) */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c3aed; /* Roxo médio (violet-600) */
}